@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.google.com/specimen/Balthazar.");

@font-face {
  font-family: "FuturaBookC";
  src: url("/fonts/FuturaBookC.woff") format("woff");
  font-display: swap;
}


.link {
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
  scroll-behavior: smooth;
  background-color: #fff;
}

/*---------------------header---------------------*/

.logo-comp {
  width: 4.5%;
  margin: 0%;
  padding: 0%;
  image-rendering: optimizeQuality;
  padding-left: 4rem;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98vw;
  align-items: flex-start;
  height: auto;
  z-index: 999;
  position: fixed;
  top: 2rem;
  justify-self: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav {
  border-radius: 25px;
  padding: 0.3rem;
}

nav > ul {
  display: inline-flex;
  padding-left: 0;
}

nav > ul > li {
  margin: 0 1.25em;
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav > ul > li > a:hover {
  color: rgb(37, 37, 37);
}

.lang {
  border: 0cap;
  color: white;
  border-radius: 50%;
  padding: 1.2rem;
  margin-right: 4rem;
}

.lang,
nav,
.sns-button,
.qna {
  background-color: rgba(70, 70, 70, 0.2);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.332);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.logo-comp {
  transition: opacity 0.4s ease-in-out;
}

.logo-comp.fade-out {
  opacity: 0;
}

.logo-comp.fade-in {
  opacity: 1;
}

/*---------------------dropdown---------------------*/

.lang-dropdown ul {
  padding: 0%;
  border-radius: 20px;
  overflow: hidden;
}

.lang-dropdown li {
  list-style: none;
  padding: 0%;
  background-color: white;
  color: #0a2647;
  padding: 10px 30px;
  border-top: 1px solid #0a2647;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  text-align: center;
}

.lang-dropdown li:hover {
  background-color: #0a2647;
  color: white;
}

.lang-dropdown li:first-child {
  border: none;
}

/*---------------------landing page---------------------*/

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  object-fit: cover;
  z-index: 0;
}

.landing-page-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100vw;
  justify-items: center;
}

.landing-page-text h1,
.landing-page-text p,
.landing-page-text hr {
  margin: 0.5rem auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.landing-page-text h1 {
  letter-spacing: 1rem;
  font-size: 4rem;
  font-family: "Balthazar";
  font-weight: 400;
}

.landing-page-text hr {
  width: 55%;
}

.landing-page-text p {
  letter-spacing: 0.5rem;
}

/*---------------------marquee---------------------*/

.marquee {
  font-size: 7rem;
  letter-spacing: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/*---------------------sns button---------------------*/

.sns-button {
  z-index: 1600;
  width: 1rem;
  height: auto;
  padding: 1.3rem;
  border-radius: 50px;
  position: fixed;
  top: 50vh;
  left: 2vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: transform 0.3s ease, width 0.3s ease-in-out,
    background-color 0.3s ease;
}

.sns-button:hover {
  transform: scale(1.1);
  width: 10rem;
  background-color: white;
}

.sns-button a {
  text-decoration: none;
}

.sns-button span {
  opacity: 0;
  color: black;
  transition: opacity 0.3s ease;
  margin-left: 1rem;
}

.sns-button:hover span {
  opacity: 1;
}

.icon-whhatsapp {
  transform: scale(2);
  color: white;
  transition: color 0.3s ease;
}

.sns-button:hover .icon-whhatsapp {
  color: #000000;
}

/*---------------------about us button---------------------*/

.button-about-us {
  z-index: 999;
  position: relative;
  bottom: 10vh;
  left: 2vw;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.button-about-us:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid white;
}

.shiny-text {
  padding-right: 1rem;
  font-size: 1.2rem;
}
.icon-arrow {
  transform: scale(1.5);
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
}

/*---------------------pvip---------------------*/

#PVIP {
  display: flex;
  padding-top: 5rem;
  letter-spacing: 0.3rem;
}

.container-pvip {
  padding-left: 10rem;
  padding-right: 5rem;
  width: 50vw;
  white-space: normal;
  word-wrap: break-word;
  width: auto;

  box-sizing: border-box;
}

#PVIP h1 {
  font-weight: 500;
  font-size: 3rem;
}

#PVIP p {
  line-height: 1.5rem;
  text-indent: 5rem;
  letter-spacing: 2px;
  text-align: justify;
}

.img-2 {
  width: 100%;
  max-width: none;
}

/*---------------------benefit---------------------*/

#Benefit {
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin: 5% 0;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.benefit-landing {
  padding-left: 10rem;
}

#Benefit h1,
#Benefit p {
  color: white;
  padding: 0;
  margin: 0;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-all;
}

#Benefit h1 {
  font-size: 7rem;
  font-weight: 200;
  word-break: break-all;
}

.benefit-section-1 {
  width: 65%;
  height: fit-content;
  text-align: left;
  overflow: hidden;
  letter-spacing: 2rem;
}

.benefit-title11 {
  width: 80%;
}

.benefit-desc {
  color: black;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  display: block;
}

/*---------------------pvip table---------------------*/
.pvip-table {
  width: 80%;
  margin: 4.5rem 0;
  justify-self: center;
  border: #0a2647 solid 2px;
  table-layout: fixed;
  border-collapse: collapse;
  color: #0a2647;
}

.cell-number {
  text-align: end;
  font-weight: 100;
  padding: 2rem 0.5rem;
  border: #0a2647 solid 2px;
}

.cell-description {
  font-weight: 300;
  padding: 0.5rem;
  font-size: 1.3rem;
  border: #0a2647 solid 2px;
  word-break: break-word;
  white-space: normal;
}

.circle {
  border: #0a2647 solid 1px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

/*---------------------privilages---------------------*/
.privilages {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 4.5rem 0;
  gap: 4rem;
}

.ps1 {
  width: 100%;
  min-height: 160vh;
}

.ps2 {
  background-color: #000000;
  width: 100%;
  height: auto;
}

.ps-2-title {
  width: 80%;
  height: auto;
  justify-self: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  white-space: normal;
  word-break: break-word;
}

.ps2 h1 {
  color: white;
}

/*-----------------feature list--------------------*/

.feature-grid {
  display: grid;
  grid-template-columns: 1fr; /* one per row */
  gap: 30px;
  padding: 20px 0;
}

.feature-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 20px;
  padding-left: 10px;
  border-left: 1px solid #555; /* vertical line like screenshot */
}

.number-circle {
  width: 25px;
  height: 25px;
  border: 1px solid #999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.feature-content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.feature-content p {
  margin-top: 5px;
  color: #ccc;
  font-size: 14px;
  line-height: 1.4;
}

/*---------------------required doc---------------------*/

#RequiredDocuments {
  display: block;
  background-color: #3c366d;
}

.benefit-desc.req {
  color: white;
  padding: 2rem;
  margin: 4.5rem 0;
}

/*---------------------required doc table---------------------*/

.doc-div {
  width: 70%;
  justify-self: center;
}

.doc-div table,
.doc-div th,
.doc-div td {
  border: #0a2647 1px solid;
  border-collapse: collapse;
  border-left: transparent;
  border-right: transparent;
  padding: 1.5rem 1rem;
  color: #0a2647;
  letter-spacing: 3px;
}

.doc-div td {
  padding-top: 4rem;
  text-align: end;
}

.doc-div th {
  font-weight: 100;
  text-align: end;
  padding-top: 0;
  font-size: 1.2rem;
  padding-bottom: 4rem;
}

.doc-div th:nth-child(2) {
  width: 30%;
}
.doc-div th:nth-child(1) {
  width: 15%;
}

/*---------------------contact us---------------------*/

#Contact {
  width: 100%;
  min-height: 100vh;
  display: block;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px 0;
}

.contact-border {
  border: 3px solid white;
  width: 70%;
  height: auto;
  margin: 4rem 0;
}

.comp-name {
  background-color: white;
  height: 3rem;
  padding: 0;
  font-family: "FuturaBookC";
  letter-spacing: 0.5rem;
  justify-content: center;
  display: flex;
}

.s1 {
  justify-content: center;
  color: white;
  text-align: center;
  text-shadow: #000000 1px 2px 3px;
  width: 100%;
}

.s1 span {
  font-size: 4rem;
}

.qna {
  width: 80%;
  height: max-content;
  justify-self: center;
  border-radius: 25px;
  cursor: default;
  margin: 3rem;
  justify-items: center;
  padding-bottom: 2rem;
}

.qna section {
  width: 90%;
}

.qna-1 {
  padding: 1rem;
}

.qna-1 label {
  color: white;
  letter-spacing: 7px;
  font-size: 1.5rem;
}

.qna-1 input {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 40%;
  margin: 1rem;
  border: none;
  font-family: "Montserrat";
}

.qna-1-select {
  width: 97%;
  padding: 0 1rem;
  padding-top: 1rem;
}

.button-submit {
  min-width: 30%;
  text-align: center;
  display: block;
  justify-self: center;
  border-radius: 50px;
  border: none;
  margin: 2rem 0;
  transition: background-color 0.3s ease;
  margin: auto;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  margin-bottom: 1rem;
}

.button-submit p {
  font-size: 1rem;
  letter-spacing: 3px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #0a2647;
}

.button-submit:hover p {
  color: white;
}

.tnc {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 17vh;
  white-space: normal;
  margin: auto;
  text-align: justify;
}

.tnc-s {
  margin: 1rem;
}

.tnc-s input {
  transform: scale(1.3);
}

/*---------------------footer---------------------*/

footer {
  background-color: #0a2647;
  width: 100%;
  color: white;
  letter-spacing: 4px;
  padding: 2rem 0 0.5rem 0;
}

.f-icon-c {
  font-size: 2rem;
}

.f-icon-cs {
  font-size: 7rem;
} 

footer p, footer span {
  font-size: 0.8rem;
}

footer h1 {
  margin: 0%;
}

.f-container {
  width: 90%;
  justify-self: center;
  height: auto;
  display: flex;
  gap: 2.5rem;
  margin: auto;
}

.f-img1,
.f-img2,
.f-img4
 {
  max-width: 4rem;
  height: auto;
}

.f-img3 {
  max-width: 3.5rem;
  height: auto;
}

.f-c1 {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.f-s1 {
  display: flex;
  gap: 2rem;
}

.f-hl a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.f-hl a:hover {
  color: #9eb9f4; 
}

.f-hl address {
  padding: 0.7rem 0;
}

#f-icon {
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease-out;
}

#f-icon:hover {
  color: #9eb9f4;
}

.f-sns {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1.3rem;
  border-radius: 25px;
  border: white solid 1px;
  height: fit-content;

  background-color: rgba(255, 255, 255, 0.101);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.332);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.f-sns a {
  cursor: pointer;
}

footer address {
  display: flex;
  align-items: center;
  word-wrap: break-word;
  gap: 1rem;
}

.f-blank-space {
  width: 40%;
}

.f-con {
  flex:4;
}

.f-credit {
  width: 90%;
  justify-self: center;
}

.f-credit p {
  font-size: 0.8rem;
  text-align: center;
}

.pp p{
  font-size: 2rem;
  margin: 0%;
}

/*---------------------about us---------------------*/

.about-us-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: end;
}

.about-us-hero span {
  display: block;
  font-weight: 400;
  font-size: 10rem;
  color: white;
  text-shadow: black -5px 7px 10px;
  text-align: justify;
}

.au-desc {
  padding: 3rem 0;
  width: 70%;
  justify-self: center;
  display: flex;
  margin: auto;
  text-align: justify;
}

.au-comp-logo {
  flex: 1;
}

.au-comp-logo img {
  width: 50%;
}

.au-comp-desc {
  flex: 2;
}

/*---------------------sidebar---------------------*/
.sidebar-new {
  height: 10%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.671);
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.332);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
  display: none;
}

.header.visible,
.sidebar-new.visible {
  transform: translateY(0);
  opacity: 1;
}

.header.hidden,
.sidebar-new.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.menu-btn {
  position: relative;
  justify-self: end;
  font-size: 35px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  justify-content: end;
  align-items: center;
  top: 21%;
  right: 2%;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 2000;
  height: 100vh;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.sidebar-icon {
  color: black;
}

/* Sidebar panel */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
  z-index: 2000;
  padding: 20px;
}

.sidebar.active {
  transform: translateX(0);
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 32px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li,
.sidebar-lan {
  padding: 16px 0;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.sidebar a,
.sidebar-lan {
  text-decoration: none;
  color: #000000;
  letter-spacing: 5px;
  font-size: 1.3rem;
}

.sidebar-lan {
  border: none;
  background-color: transparent;
}

/*---------------------misc---------------------*/
.img-1 {
  width: 100%;
}

/*---------------------MOBILE---------------------*/

@media (max-width: 1270px) {
  .qna-1 input {
    width: 85%;
  }
}

@media (max-width: 1049px) {
  #Benefit h1 {
    font-size: 3rem;
  }

}

@media (max-width: 805px) {
  h1,
  span,
  h2,
  p {
    font-family: "Montserrat";
  }

  .pvip-table {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  footer {
    margin: auto;
  }

  footer div > span {
    font-size: 2.5rem;
  }

  .footer-s1 {
    font-size: 1.5rem;
  }

  .ps-2-title span {
    font-size: 1.4rem;
  }

  .landing-page-text h1 {
    font-size: 3.5rem;
  }

  .sidebar-new {
    display: block;
  }

  .header {
    display: none;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .contact-border {
    width: 90%;
  }

  footer p, footer span {
  font-size: 0.7rem;
}

.f-img1,
.f-img2,
.f-img4
 {
  max-width: 3rem;
  height: auto;
}

.f-img3 {
  max-width: 2.5rem;
  height: auto;
}

.f-s1 {
  display: flex;
  gap: 2rem;
}

.f-hl address {
  padding: 0.4rem 0;
}

.f-sns {
  padding: 0.7rem 0.7rem;
  gap: 0.7rem;
}

.f-blank-space {
  display: none;
}

.f-sns a {
  cursor: pointer;
}

#f-icon {
  font-size: 1.3rem;
}

.f-icon-c {
  font-size: 1rem;
}

.f-icon-cs {
  font-size: 4rem;
} 

.f-credit {
  margin: auto;
}

.f-credit p {
  font-size: 0.6rem;
}

.pp p{
  font-size: 1.2rem;
}
}

@media (max-width: 600px) {
  #PVIP h1,
  .benefit-desc {
    font-size: 2rem;
  }

  #PVIP {
    padding-top: 2rem;
  }

  .marquee {
    padding-bottom: 2.5rem;
  }

  .img-2 {
    display: none;
  }

  .container-pvip {
    margin: auto;
    width: 80vw;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
  }

  .qna-1 input {
    width: 70%;
  }

  .doc-div {
    width: 90%;
    justify-self: center;
  }

  .doc-div th {
    font-size: 1rem;
  }
  .doc-div td,
  .doc-div th {
    padding: 1rem;
    letter-spacing: 1px;
    font-size: 0.95rem;
  }

    .f-s1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .f-c1 {
    order: 3;
    margin-top: 1.5rem;
  }

  .f-sns {
    order: 4;
    flex-direction: row;
  }

  .f-hl {
    order: 1;
  }

  .f-con {
    order: 2;
  }

}

@media (max-width: 500px) {
  .doc-div {
    width: 100%;
    justify-self: center;
  }

  .doc-div th {
    font-size: 1rem;
  }
  .doc-div td,
  .doc-div th {
    padding: 0.1rem;
    letter-spacing: 1px;
    font-size: 0.7rem;
  }

  address p {
    font-size: 0.5rem;
  }

  .f-icon {
    width: 20px;
    height: 20px;
  }

  .landing-page-text h1 {
    font-size: 3.5rem;
  }

  .marquee {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    font-weight: 100;
  }

  .s1 span {
    font-size: 2rem;
  }

  .qna-1 label {
    font-size: 1rem;
  }

  .qna button p {
    font-size: 0.9rem;
  }

  .tnc label {
    font-size: 0.7rem;
  }
  .cell-description {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .landing-page-text {
    width: 100%;
    left: 0;
    transform: translateY(-50%);
  }

  .container-pvip {
    margin: 0 1.5rem;
    width: 100%;
  }

  #Benefit h1 {
    font-size: 2rem;
  }

  .benefit-landing {
    width: 100%;
    display: block;
    justify-self: center;
    padding-left: 26%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ps-2-title {
    font-size: 1.5rem;
  }

  .about-us-hero span {
    font-size: 6.5rem;
  }

  .about-us-hero {
    height: 50vh;
  }
}

@media (max-width: 400px) {
}

